.blockItem {
  font-weight: bold;
  /* stylelint-disable-next-line declaration-no-important */
  background-color: rgb(18, 130, 121) !important;
  /* stylelint-disable-next-line declaration-no-important */
  border: 1px solid rgb(229, 230, 238) !important;
}

.singleItem {
  /* stylelint-disable-next-line declaration-no-important */
  background-color: transparent !important;
  /* stylelint-disable-next-line declaration-no-important */
  border: none !important;
  /* stylelint-disable-next-line declaration-no-important */
  color: rgb(22, 22, 22) !important;
  font-weight: bold;
}
